In [1]:
import pandas as pd

import warnings
def ignore_warn(*args, **kwargs):
    pass
warnings.warn = ignore_warn

# Table of Content
1. [COMPUSTAT](#COMPUSTAT-Data)
2. [CRSP](#CRSP-Data)

**Note:** Kindly run only one of the database

## COMPUSTAT Data

In [2]:
df_compustat = pd.read_csv('data/COMPUSTAT_20220423.csv')
df_compustat

,gvkey,datadate,fyear,indfmt,consol,popsrc,datafmt,tic,cusip,conm,...,priusa,sic,spcindcd,spcseccd,spcsrc,state,stko,weburl,dldte,ipodate
0,1001,1981/12/31,1981.0,INDL,C,D,STD,AMFD.,000165100,A & M FOOD SERVICES INC,...,1.0,5812.0,420.0,978.0,NaN,OK,0.0,NaN,1986/07/31,NaN
1,1001,1982/12/31,1982.0,INDL,C,D,STD,AMFD.,000165100,A & M FOOD SERVICES INC,...,1.0,5812.0,420.0,978.0,NaN,OK,0.0,NaN,1986/07/31,NaN
2,1001,1983/12/31,1983.0,INDL,C,D,STD,AMFD.,000165100,A & M FOOD SERVICES INC,...,1.0,5812.0,420.0,978.0,NaN,OK,0.0,NaN,1986/07/31,NaN
3,1001,1984/12/31,1984.0,INDL,C,D,STD,AMFD.,000165100,A & M FOOD SERVICES INC,...,1.0,5812.0,420.0,978.0,NaN,OK,0.0,NaN,1986/07/31,NaN
4,1001,1985/12/31,1985.0,INDL,C,D,STD,AMFD.,000165100,A & M FOOD SERVICES INC,...,1.0,5812.0,420.0,978.0,NaN,OK,0.0,NaN,1986/07/31,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
480263,347085,2021/02/28,2020.0,INDL,C,D,STD,KARO,Y4600W108,KAROOOOO LTD,...,1.0,7370.0,NaN,NaN,NaN,NaN,0.0,www.karooooo.com,NaN,2021/04/01
480264,351491,2019/12/31,2019.0,INDL,C,D,STD,IVCGF,N47017103,IVECO GROUP N V,...,1.0,3711.0,NaN,NaN,NaN,NaN,3.0,www.ivecogroup.com,NaN,2022/01/03
480265,351491,2020/12/31,2020.0,INDL,C,D,STD,IVCGF,N47017103,IVECO GROUP N V,...,1.0,3711.0,NaN,NaN,NaN,NaN,3.0,www.ivecogroup.com,NaN,2022/01/03
480266,351590,2019/12/31,2019.0,INDL,C,D,STD,DTRUY,23384L101,DAIMLER TRUCK HOLDING AG,...,90.0,3713.0,NaN,NaN,NaN,NaN,3.0,www.daimlertruck.com,NaN,NaN
480267,351590,2020/12/31,2020.0,INDL,C,D,STD,DTRUY,23384L101,DAIMLER TRUCK HOLDING AG,...,90.0,3713.0,NaN,NaN,NaN,NaN,3.0,www.daimlertruck.com,NaN,NaN

### Data Wrangling - COMPUSTAT

In [3]:
'''
The default web query has boxes checked for Industry Formats (INDFMT) “INDL” and “FS.”
FS: Financial Services (includes banks, insurance companies, broker/dealers, real estate and other financial services)
INDL: Industrial (includes companies reporting manufacturing, retail, construction and other commercial operations other than financial services)

The default setting on the web query pulling both of these is the most notable source for duplicate observations.

Pulling both of these formats for a non-financial services firm for a given GVKEY and DATADATE results in:
- The one GKVEY DATADATE observation with INDFMT = INDL for the actual 10-K numbers.
- The second GVKEY DATADATE observation with INDFMT= FS is essentially the same 10-K converted to a “financial services” format.
Source: https://robsonglasscock.wordpress.com/2018/04/12/gvkey-and-datadate-or-fyear-duplicates-in-compustat/

For the remaining conditions, please see the following link:
Link: http://kaichen.work/?p=387
'''

# Removing duplicate entries based on Industry formats
df_compustat = df_compustat[(df_compustat['indfmt']=='INDL') & (df_compustat['datafmt']=='STD') & (df_compustat['popsrc']=='D') & (df_compustat['consol']=='C') & (df_compustat['scf']<4) | (df_compustat['scf']==7)]
df_compustat

,gvkey,datadate,fyear,indfmt,consol,popsrc,datafmt,tic,cusip,conm,...,priusa,sic,spcindcd,spcseccd,spcsrc,state,stko,weburl,dldte,ipodate
2,1001,1983/12/31,1983.0,INDL,C,D,STD,AMFD.,000165100,A & M FOOD SERVICES INC,...,1.0,5812.0,420.0,978.0,NaN,OK,0.0,NaN,1986/07/31,NaN
3,1001,1984/12/31,1984.0,INDL,C,D,STD,AMFD.,000165100,A & M FOOD SERVICES INC,...,1.0,5812.0,420.0,978.0,NaN,OK,0.0,NaN,1986/07/31,NaN
4,1001,1985/12/31,1985.0,INDL,C,D,STD,AMFD.,000165100,A & M FOOD SERVICES INC,...,1.0,5812.0,420.0,978.0,NaN,OK,0.0,NaN,1986/07/31,NaN
6,1003,1982/12/31,1982.0,INDL,C,D,STD,ANTQ,000354100,A.A. IMPORTING CO INC,...,1.0,5712.0,449.0,976.0,NaN,MO,3.0,www.aaimporting.com,1992/04/30,NaN
7,1003,1983/12/31,1983.0,INDL,C,D,STD,ANTQ,000354100,A.A. IMPORTING CO INC,...,1.0,5712.0,449.0,976.0,NaN,MO,3.0,www.aaimporting.com,1992/04/30,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
480263,347085,2021/02/28,2020.0,INDL,C,D,STD,KARO,Y4600W108,KAROOOOO LTD,...,1.0,7370.0,NaN,NaN,NaN,NaN,0.0,www.karooooo.com,NaN,2021/04/01
480264,351491,2019/12/31,2019.0,INDL,C,D,STD,IVCGF,N47017103,IVECO GROUP N V,...,1.0,3711.0,NaN,NaN,NaN,NaN,3.0,www.ivecogroup.com,NaN,2022/01/03
480265,351491,2020/12/31,2020.0,INDL,C,D,STD,IVCGF,N47017103,IVECO GROUP N V,...,1.0,3711.0,NaN,NaN,NaN,NaN,3.0,www.ivecogroup.com,NaN,2022/01/03
480266,351590,2019/12/31,2019.0,INDL,C,D,STD,DTRUY,23384L101,DAIMLER TRUCK HOLDING AG,...,90.0,3713.0,NaN,NaN,NaN,NaN,3.0,www.daimlertruck.com,NaN,NaN
480267,351590,2020/12/31,2020.0,INDL,C,D,STD,DTRUY,23384L101,DAIMLER TRUCK HOLDING AG,...,90.0,3713.0,NaN,NaN,NaN,NaN,3.0,www.daimlertruck.com,NaN,NaN

In [4]:
# Extracting/Selecting required columns only
cols_required = ['cusip', 'conm', 'gsector', 'ggroup', 'gind', 'gsubind', 'fyear', 'epspx', 'bkvlps', 'act', 'lct', 'at', 'lt',
                 'dlc','dltt', 'dt','re', 'sale','ebit', 'ebitda', 'pi', 'txpd', 'ni', 'opeps', 'dv', 'capx', 'fopt', 'fincf', 'ivncf', 'ci']

df_compustat = df_compustat[cols_required]
df_compustat

,cusip,conm,gsector,ggroup,gind,gsubind,fyear,epspx,bkvlps,act,...,pi,txpd,ni,opeps,dv,capx,fopt,fincf,ivncf,ci
2,000165100,A & M FOOD SERVICES INC,25.0,2530.0,253010.0,25301040.0,1983.0,0.40,2.1925,4.807,...,1.574,NaN,1.135,NaN,0.000,3.367,2.291,NaN,NaN,NaN
3,000165100,A & M FOOD SERVICES INC,25.0,2530.0,253010.0,25301040.0,1984.0,0.32,2.5118,2.789,...,1.806,NaN,1.138,NaN,0.000,5.496,2.734,NaN,NaN,NaN
4,000165100,A & M FOOD SERVICES INC,25.0,2530.0,253010.0,25301040.0,1985.0,0.68,3.2633,3.852,...,4.724,NaN,2.576,NaN,0.000,2.006,5.056,NaN,NaN,NaN
6,000354100,A.A. IMPORTING CO INC,25.0,2550.0,255040.0,25504040.0,1982.0,0.44,0.9443,5.474,...,1.751,NaN,0.929,NaN,0.000,0.000,0.972,NaN,NaN,NaN
7,000354100,A.A. IMPORTING CO INC,25.0,2550.0,255040.0,25504040.0,1983.0,0.49,2.2717,8.273,...,1.959,NaN,1.050,NaN,0.000,0.146,1.099,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
480263,Y4600W108,KAROOOOO LTD,45.0,4510.0,451030.0,45103010.0,2020.0,0.98,2.6356,87.432,...,45.863,12.380,20.965,1.05,17.938,31.498,NaN,-32.023,-34.111,32.100
480264,N47017103,IVECO GROUP N V,20.0,2010.0,201060.0,20106010.0,2019.0,3.77,NaN,11570.000,...,196.000,NaN,94.000,9.56,0.000,552.000,NaN,-33.000,-846.000,-64.000
480265,N47017103,IVECO GROUP N V,20.0,2010.0,201060.0,20106010.0,2020.0,-19.68,NaN,12100.000,...,-588.000,NaN,-492.000,-9.95,0.000,483.000,NaN,-491.000,-109.000,-470.000
480266,23384L101,DAIMLER TRUCK HOLDING AG,20.0,2010.0,201060.0,20106010.0,2019.0,1.18,NaN,31890.187,...,2952.463,958.344,1942.498,1.18,1105.350,1268.066,NaN,2797.601,-3621.283,617.201
480267,23384L101,DAIMLER TRUCK HOLDING AG,20.0,2010.0,201060.0,20106010.0,2020.0,-0.11,NaN,30632.474,...,402.599,731.669,-172.370,-0.19,16.875,959.487,NaN,-1368.113,-2835.068,-1479.009

In [5]:
#Renaming the CUSIPs - Taking the first 6 characters

df_compustat['cusip'] = df_compustat.cusip.str[:6]
df_compustat['cusip'] = df_compustat['cusip'].astype(str)
df_compustat = df_compustat.sort_values(by=['cusip','fyear']).reset_index(drop=True)
df_compustat

,cusip,conm,gsector,ggroup,gind,gsubind,fyear,epspx,bkvlps,act,...,pi,txpd,ni,opeps,dv,capx,fopt,fincf,ivncf,ci
0,000021,A & A INTL INDS INC,30.0,3020.0,302020.0,30202010.0,1985.0,0.03,0.2409,0.949,...,0.125,NaN,0.099,NaN,0.00,0.200,0.153,NaN,NaN,NaN
1,000021,A & A INTL INDS INC,30.0,3020.0,302020.0,30202010.0,1986.0,0.05,0.2300,1.207,...,0.191,NaN,0.136,NaN,0.15,0.048,0.233,NaN,NaN,NaN
2,000021,A & A INTL INDS INC,30.0,3020.0,302020.0,30202010.0,1987.0,0.03,0.2155,1.506,...,0.190,NaN,0.128,NaN,0.00,0.027,0.209,NaN,NaN,NaN
3,000021,A & A INTL INDS INC,30.0,3020.0,302020.0,30202010.0,1989.0,0.03,0.2746,1.755,...,0.339,NaN,0.188,NaN,0.00,0.770,0.255,NaN,NaN,NaN
4,000021,A & A INTL INDS INC,30.0,3020.0,302020.0,30202010.0,1990.0,0.05,0.4595,3.242,...,0.509,NaN,0.296,NaN,0.00,2.575,NaN,1.870,-2.025,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
345298,Y95308,WAVE LIFE SCIENCES LTD,35.0,3520.0,352020.0,35202010.0,2021.0,-2.36,0.5431,162.564,...,-122.449,NaN,-122.245,-2.36,0.00,0.560,NaN,55.828,-0.560,-122.453
345299,nan,BENTLEY SYSTEMS INC -REDH,45.0,4510.0,451030.0,45103010.0,2000.0,-0.15,NaN,83.494,...,-0.301,2.100,-1.160,-0.15,0.00,7.846,NaN,5.262,-24.961,NaN
345300,nan,BENTLEY SYSTEMS INC -REDH,45.0,4510.0,451030.0,45103010.0,2001.0,-0.23,NaN,87.747,...,6.697,1.349,4.085,-0.23,0.00,4.671,NaN,-19.691,-9.485,NaN
345301,nan,CORSAIR COMPONENTS INC -REDH,45.0,4520.0,452020.0,45202020.0,2008.0,0.19,NaN,58.135,...,10.645,0.122,11.202,0.19,0.00,1.486,NaN,-12.142,-1.486,NaN
345302,nan,CORSAIR COMPONENTS INC -REDH,45.0,4520.0,452020.0,45202020.0,2009.0,-0.14,NaN,97.691,...,-13.980,2.845,-8.690,-0.17,0.00,1.004,NaN,3.126,-1.004,-8.685

In [6]:
# Analyzing the number of NAs in the database

df_compustat.isna().sum()

cusip           0
conm            0
gsector      4924
ggroup       4924
gind         4924
gsubind      4924
fyear           1
epspx       15963
bkvlps      11042
act         45439
lct         41847
at            145
lt            618
dlc           835
dltt          830
dt         156250
re           9326
sale          628
ebit         3051
ebitda       8366
pi            612
txpd       116949
ni            627
opeps       65140
dv           5376
capx         4326
fopt       295570
fincf       50362
ivncf       50363
ci         238646
dtype: int64

In [7]:
# Imputations - Forward fill to account for the most recent data availability
#Time consuming step

for each_col in df_compustat.columns:
    df_compustat[each_col] = df_compustat.groupby('cusip')[each_col].transform(lambda x: x.ffill())
df_compustat

,cusip,conm,gsector,ggroup,gind,gsubind,fyear,epspx,bkvlps,act,...,pi,txpd,ni,opeps,dv,capx,fopt,fincf,ivncf,ci
0,000021,A & A INTL INDS INC,30.0,3020.0,302020.0,30202010.0,1985.0,0.03,0.2409,0.949,...,0.125,NaN,0.099,NaN,0.00,0.200,0.153,NaN,NaN,NaN
1,000021,A & A INTL INDS INC,30.0,3020.0,302020.0,30202010.0,1986.0,0.05,0.2300,1.207,...,0.191,NaN,0.136,NaN,0.15,0.048,0.233,NaN,NaN,NaN
2,000021,A & A INTL INDS INC,30.0,3020.0,302020.0,30202010.0,1987.0,0.03,0.2155,1.506,...,0.190,NaN,0.128,NaN,0.00,0.027,0.209,NaN,NaN,NaN
3,000021,A & A INTL INDS INC,30.0,3020.0,302020.0,30202010.0,1989.0,0.03,0.2746,1.755,...,0.339,NaN,0.188,NaN,0.00,0.770,0.255,NaN,NaN,NaN
4,000021,A & A INTL INDS INC,30.0,3020.0,302020.0,30202010.0,1990.0,0.05,0.4595,3.242,...,0.509,NaN,0.296,NaN,0.00,2.575,0.255,1.870,-2.025,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
345298,Y95308,WAVE LIFE SCIENCES LTD,35.0,3520.0,352020.0,35202010.0,2021.0,-2.36,0.5431,162.564,...,-122.449,-0.011,-122.245,-2.36,0.00,0.560,NaN,55.828,-0.560,-122.453
345299,nan,BENTLEY SYSTEMS INC -REDH,45.0,4510.0,451030.0,45103010.0,2000.0,-0.15,NaN,83.494,...,-0.301,2.100,-1.160,-0.15,0.00,7.846,NaN,5.262,-24.961,NaN
345300,nan,BENTLEY SYSTEMS INC -REDH,45.0,4510.0,451030.0,45103010.0,2001.0,-0.23,NaN,87.747,...,6.697,1.349,4.085,-0.23,0.00,4.671,NaN,-19.691,-9.485,NaN
345301,nan,CORSAIR COMPONENTS INC -REDH,45.0,4520.0,452020.0,45202020.0,2008.0,0.19,NaN,58.135,...,10.645,0.122,11.202,0.19,0.00,1.486,NaN,-12.142,-1.486,NaN
345302,nan,CORSAIR COMPONENTS INC -REDH,45.0,4520.0,452020.0,45202020.0,2009.0,-0.14,NaN,97.691,...,-13.980,2.845,-8.690,-0.17,0.00,1.004,NaN,3.126,-1.004,-8.685

In [8]:
#Dropping all the rows with NAs

df_compustat = df_compustat.dropna().reset_index(drop=True)
df_compustat

,cusip,conm,gsector,ggroup,gind,gsubind,fyear,epspx,bkvlps,act,...,pi,txpd,ni,opeps,dv,capx,fopt,fincf,ivncf,ci
0,000361,AAR CORP,20.0,2010.0,201010.0,20101010.0,2009.0,1.17,18.9167,863.429,...,64.188,30.149,44.628,1.30,0.000,28.855,26.970,36.170,-222.340,37.552
1,000361,AAR CORP,20.0,2010.0,201010.0,20101010.0,2010.0,1.85,21.0112,913.985,...,108.503,9.812,69.826,1.87,2.983,124.879,26.970,-11.827,-118.735,80.827
2,000361,AAR CORP,20.0,2010.0,201010.0,20101010.0,2011.0,1.68,21.4697,1063.272,...,93.509,11.418,67.723,1.68,12.081,91.218,26.970,306.843,-390.225,31.484
3,000361,AAR CORP,20.0,2010.0,201010.0,20101010.0,2012.0,1.38,23.3254,1033.700,...,82.200,24.100,55.000,1.75,12.800,37.600,26.970,-123.700,-32.800,68.200
4,000361,AAR CORP,20.0,2010.0,201010.0,20101010.0,2013.0,1.85,25.2654,1116.900,...,105.300,17.300,72.900,1.85,11.800,26.500,26.970,-85.900,-40.900,86.400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15478,N6865W,PATHEON NV,35.0,3520.0,352030.0,35203010.0,2011.0,-0.13,2.0276,293.094,...,-8.839,-1.291,-16.686,-0.09,0.000,47.475,24.252,2.682,-47.078,-12.713
15479,N6865W,PATHEON NV,35.0,3520.0,352030.0,35203010.0,2012.0,-0.82,0.9608,299.820,...,-62.962,2.199,-106.636,-0.32,0.000,53.368,24.252,26.284,-51.869,-116.930
15480,N6865W,PATHEON NV,35.0,3520.0,352030.0,35203010.0,2013.0,-0.26,0.9354,433.534,...,-44.115,13.871,-37.441,0.18,0.000,51.936,24.252,320.066,-312.140,-37.753
15481,N6865W,PATHEON NV,35.0,3520.0,352030.0,35203010.0,2015.0,0.25,0.9354,1048.700,...,35.200,17.600,138.400,0.46,550.400,146.900,24.252,148.200,-88.300,103.500
15482,N6865W,PATHEON NV,35.0,3520.0,352030.0,35203010.0,2016.0,0.25,-2.4015,991.400,...,10.800,14.500,31.700,0.47,0.000,205.800,24.252,-16.000,-206.700,6.100

In [9]:
# Converting the fyear to Integer type
df_compustat['fyear'] = df_compustat['fyear'].astype(int)
df_compustat['gsector'] = df_compustat['gsector'].astype(int)
df_compustat['ggroup'] = df_compustat['ggroup'].astype(int)
df_compustat['gind'] = df_compustat['gind'].astype(int)
df_compustat['gsubind'] = df_compustat['gsubind'].astype(int)
df_compustat.dtypes

cusip       object
conm        object
gsector      int32
ggroup       int32
gind         int32
gsubind      int32
fyear        int32
epspx      float64
bkvlps     float64
act        float64
lct        float64
at         float64
lt         float64
dlc        float64
dltt       float64
dt         float64
re         float64
sale       float64
ebit       float64
ebitda     float64
pi         float64
txpd       float64
ni         float64
opeps      float64
dv         float64
capx       float64
fopt       float64
fincf      float64
ivncf      float64
ci         float64
dtype: object

In [10]:
df_compustat = df_compustat.sort_values(by=['cusip','fyear'], ascending=False).reset_index(drop=True)
df_compustat

,cusip,conm,gsector,ggroup,gind,gsubind,fyear,epspx,bkvlps,act,...,pi,txpd,ni,opeps,dv,capx,fopt,fincf,ivncf,ci
0,N6865W,PATHEON NV,35,3520,352030,35203010,2016,0.25,-2.4015,991.400,...,10.800,14.500,31.700,0.47,0.000,205.800,24.252,-16.000,-206.700,6.100
1,N6865W,PATHEON NV,35,3520,352030,35203010,2015,0.25,0.9354,1048.700,...,35.200,17.600,138.400,0.46,550.400,146.900,24.252,148.200,-88.300,103.500
2,N6865W,PATHEON NV,35,3520,352030,35203010,2013,-0.26,0.9354,433.534,...,-44.115,13.871,-37.441,0.18,0.000,51.936,24.252,320.066,-312.140,-37.753
3,N6865W,PATHEON NV,35,3520,352030,35203010,2012,-0.82,0.9608,299.820,...,-62.962,2.199,-106.636,-0.32,0.000,53.368,24.252,26.284,-51.869,-116.930
4,N6865W,PATHEON NV,35,3520,352030,35203010,2011,-0.13,2.0276,293.094,...,-8.839,-1.291,-16.686,-0.09,0.000,47.475,24.252,2.682,-47.078,-12.713
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15478,000361,AAR CORP,20,2010,201010,20101010,2013,1.85,25.2654,1116.900,...,105.300,17.300,72.900,1.85,11.800,26.500,26.970,-85.900,-40.900,86.400
15479,000361,AAR CORP,20,2010,201010,20101010,2012,1.38,23.3254,1033.700,...,82.200,24.100,55.000,1.75,12.800,37.600,26.970,-123.700,-32.800,68.200
15480,000361,AAR CORP,20,2010,201010,20101010,2011,1.68,21.4697,1063.272,...,93.509,11.418,67.723,1.68,12.081,91.218,26.970,306.843,-390.225,31.484
15481,000361,AAR CORP,20,2010,201010,20101010,2010,1.85,21.0112,913.985,...,108.503,9.812,69.826,1.87,2.983,124.879,26.970,-11.827,-118.735,80.827
15482,000361,AAR CORP,20,2010,201010,20101010,2009,1.17,18.9167,863.429,...,64.188,30.149,44.628,1.30,0.000,28.855,26.970,36.170,-222.340,37.552

In [11]:
#Lagging the variables
for each_col in df_compustat.iloc[:,7:].columns:
    df_compustat[each_col] = df_compustat.groupby('cusip')[each_col].transform(lambda x: x.shift(-1))
df_compustat= df_compustat.dropna().reset_index(drop=True)
df_compustat

,cusip,conm,gsector,ggroup,gind,gsubind,fyear,epspx,bkvlps,act,...,pi,txpd,ni,opeps,dv,capx,fopt,fincf,ivncf,ci
0,N6865W,PATHEON NV,35,3520,352030,35203010,2016,0.25,0.9354,1048.700,...,35.200,17.600,138.400,0.46,550.400,146.900,24.252,148.200,-88.300,103.500
1,N6865W,PATHEON NV,35,3520,352030,35203010,2015,-0.26,0.9354,433.534,...,-44.115,13.871,-37.441,0.18,0.000,51.936,24.252,320.066,-312.140,-37.753
2,N6865W,PATHEON NV,35,3520,352030,35203010,2013,-0.82,0.9608,299.820,...,-62.962,2.199,-106.636,-0.32,0.000,53.368,24.252,26.284,-51.869,-116.930
3,N6865W,PATHEON NV,35,3520,352030,35203010,2012,-0.13,2.0276,293.094,...,-8.839,-1.291,-16.686,-0.09,0.000,47.475,24.252,2.682,-47.078,-12.713
4,N6865W,PATHEON NV,35,3520,352030,35203010,2011,-0.03,2.1556,296.689,...,-6.425,9.281,-5.100,-0.02,0.000,49.669,24.252,32.229,-50.995,-0.612
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13866,000361,AAR CORP,20,2010,201010,20101010,2014,1.85,25.2654,1116.900,...,105.300,17.300,72.900,1.85,11.800,26.500,26.970,-85.900,-40.900,86.400
13867,000361,AAR CORP,20,2010,201010,20101010,2013,1.38,23.3254,1033.700,...,82.200,24.100,55.000,1.75,12.800,37.600,26.970,-123.700,-32.800,68.200
13868,000361,AAR CORP,20,2010,201010,20101010,2012,1.68,21.4697,1063.272,...,93.509,11.418,67.723,1.68,12.081,91.218,26.970,306.843,-390.225,31.484
13869,000361,AAR CORP,20,2010,201010,20101010,2011,1.85,21.0112,913.985,...,108.503,9.812,69.826,1.87,2.983,124.879,26.970,-11.827,-118.735,80.827
13870,000361,AAR CORP,20,2010,201010,20101010,2010,1.17,18.9167,863.429,...,64.188,30.149,44.628,1.30,0.000,28.855,26.970,36.170,-222.340,37.552

In [12]:
for each_year in sorted(list(set(df_compustat['fyear']))):
    print(each_year, " - ",len(df_compustat[df_compustat['fyear']==each_year]))

2009  -  10
2010  -  1474
2011  -  1407
2012  -  1354
2013  -  1300
2014  -  1238
2015  -  1172
2016  -  1123
2017  -  1075
2018  -  1031
2019  -  989
2020  -  946
2021  -  752

In [13]:
# Exporting the data

df_compustat.to_csv('data2/Cleaned_Compustat.csv', index=False)

In [14]:
del(df_compustat)

In [15]:
from IPython.display import display_html
def restartkernel() :
    display_html("<script>Jupyter.notebook.kernel.restart()</script>",raw=True)

## CRSP Data

In [16]:
# Extracting/Selecting required columns only
required_cols = ['DATE', 'CUSIP', 'PERMNO', 'SHRCD', 'PRC', 'SHROUT', 'RET']

# Reading the dataset
df_crsp = pd.read_csv('data/msf_new2.csv', usecols=required_cols).rename(columns={'DATE':'date'})
df_crsp

         PERMNO      date     CUSIP  SHRCD        PRC        RET    SHROUT
0         10000  19851231  68391610    NaN        NaN        NaN       NaN
1         10000  19860131  68391610   10.0   -4.37500          C    3680.0
2         10000  19860228  68391610   10.0   -3.25000  -0.257143    3680.0
3         10000  19860331  68391610   10.0   -4.43750   0.365385    3680.0
4         10000  19860430  68391610   10.0   -4.00000  -0.098592    3793.0
...         ...       ...       ...    ...        ...        ...       ...
4701549   93436  20200831  88160R10   11.0  498.32001   0.741452  931809.0
4701550   93436  20200930  88160R10   11.0  429.01001  -0.139087  948000.0
4701551   93436  20201030  88160R10   11.0  388.04001  -0.095499  947901.0
4701552   93436  20201130  88160R10   11.0  567.59998   0.462736  947901.0
4701553   93436  20201231  88160R10   11.0  705.66998   0.243252  947901.0

[4701554 rows x 7 columns]

### Data Wrangling - CRSP
- SHRCD means Share Code
    - First Digit = 1 means 'Ordinary Common Shares'
    - Second Digit = 0 means 'No special status found' & Second Digit = 1 means 'No special status ncessary'

In [17]:
#Filtering for common shares & dropping the column
df_crsp = df_crsp[(df_crsp['SHRCD']==10.0) | (df_crsp['SHRCD']==11.0)]
df_crsp.drop(columns=['SHRCD'], inplace=True)
df_crsp

         PERMNO      date     CUSIP        PRC        RET    SHROUT
1         10000  19860131  68391610   -4.37500          C    3680.0
2         10000  19860228  68391610   -3.25000  -0.257143    3680.0
3         10000  19860331  68391610   -4.43750   0.365385    3680.0
4         10000  19860430  68391610   -4.00000  -0.098592    3793.0
5         10000  19860530  68391610   -3.10938  -0.222656    3793.0
...         ...       ...       ...        ...        ...       ...
4701549   93436  20200831  88160R10  498.32001   0.741452  931809.0
4701550   93436  20200930  88160R10  429.01001  -0.139087  948000.0
4701551   93436  20201030  88160R10  388.04001  -0.095499  947901.0
4701552   93436  20201130  88160R10  567.59998   0.462736  947901.0
4701553   93436  20201231  88160R10  705.66998   0.243252  947901.0

[3688723 rows x 6 columns]

In [18]:
# Checking the number of NAs in the dataset
df_crsp.isna().sum()

PERMNO        0
date          0
CUSIP         0
PRC       98067
RET       42393
SHROUT     3717
dtype: int64

In [19]:
# Convert column "PRC" of a DataFrame to numeric

df_crsp['PRC'] = pd.to_numeric(df_crsp['PRC'])
df_crsp.dtypes

PERMNO      int64
date        int64
CUSIP      object
PRC       float64
RET        object
SHROUT    float64
dtype: object

In [20]:
# Dropping all the rows with PRC as NA
df_crsp.dropna(subset=['PRC'], inplace=True)
df_crsp

         PERMNO      date     CUSIP        PRC        RET    SHROUT
1         10000  19860131  68391610   -4.37500          C    3680.0
2         10000  19860228  68391610   -3.25000  -0.257143    3680.0
3         10000  19860331  68391610   -4.43750   0.365385    3680.0
4         10000  19860430  68391610   -4.00000  -0.098592    3793.0
5         10000  19860530  68391610   -3.10938  -0.222656    3793.0
...         ...       ...       ...        ...        ...       ...
4701549   93436  20200831  88160R10  498.32001   0.741452  931809.0
4701550   93436  20200930  88160R10  429.01001  -0.139087  948000.0
4701551   93436  20201030  88160R10  388.04001  -0.095499  947901.0
4701552   93436  20201130  88160R10  567.59998   0.462736  947901.0
4701553   93436  20201231  88160R10  705.66998   0.243252  947901.0

[3590656 rows x 6 columns]

In [21]:
'''
Q. Why is the stock price in CRSP preceded by a minus sign?
A.
- Sometimes you see negative stock prices in CRSP. This means that there was no closing price available for that period.
- Instead, the bid/ask average was used.
- To distinguish the bid/ask averages from actual closing prices, CRSP puts a leading dash in front of the price when the bid/ask average was used.
- If neither price nor bid/ask average is available, Price or Bid/Ask Average is set to zero.
'''

# Converting the PRC to positive value
df_crsp['PRC'] = df_crsp['PRC'].abs()

# Creating a column named 'fyear' - it will be helpful in merging the COMPUSTAT and CRSP dataframes later on
df_crsp['fyear'] = (df_crsp['date']/10000).astype('int')

#Converting the date to Datetime
df_crsp['date'] = pd.to_datetime(df_crsp['date'], format='%Y%m%d')

# Creating a column named 'mktcap' - to calculate the Market Capitalization of the stock at the point in time
df_crsp['mktcap'] = abs(df_crsp['PRC'])*df_crsp['SHROUT']

'''
The first 6 digits of a CUSIP identify the company, digits 7-8 describe the security and the 9th is check digit.
'''

#Renaming the CUSIPs - Taking the first 6 characters
df_crsp['CUSIP'] = df_crsp.CUSIP.str[:6]

# Renaming the columns for consistency with COMPUSTAT
df_crsp.rename(columns={'CUSIP':'cusip', 'PRC':'prc', 'SHROUT':'shrout', 'RET':'ret', 'PERMNO':'permno'}, inplace=True)

#Rearranging the columns
df_crsp = df_crsp[['date', 'fyear', 'cusip', 'permno', 'prc', 'shrout', 'mktcap', 'ret']]

df_crsp

,date,fyear,cusip,permno,prc,shrout,mktcap,ret
1,1986-01-31,1986,683916,10000,4.37500,3680.0,1.610000e+04,C
2,1986-02-28,1986,683916,10000,3.25000,3680.0,1.196000e+04,-0.257143
3,1986-03-31,1986,683916,10000,4.43750,3680.0,1.633000e+04,0.365385
4,1986-04-30,1986,683916,10000,4.00000,3793.0,1.517200e+04,-0.098592
5,1986-05-30,1986,683916,10000,3.10938,3793.0,1.179388e+04,-0.222656
...,...,...,...,...,...,...,...,...
4701549,2020-08-31,2020,88160R,93436,498.32001,931809.0,4.643391e+08,0.741452
4701550,2020-09-30,2020,88160R,93436,429.01001,948000.0,4.067015e+08,-0.139087
4701551,2020-10-30,2020,88160R,93436,388.04001,947901.0,3.678235e+08,-0.095499
4701552,2020-11-30,2020,88160R,93436,567.59998,947901.0,5.380286e+08,0.462736
4701553,2020-12-31,2020,88160R,93436,705.66998,947901.0,6.689053e+08,0.243252

In [22]:
#Lagging the variables
df_crsp['prc'] = df_crsp.sort_values(by=['cusip','date'],ascending=False).groupby(['cusip'])['prc'].shift(-1)
df_crsp['shrout'] = df_crsp.sort_values(by=['cusip','date'],ascending=False).groupby(['cusip'])['shrout'].shift(-1)
df_crsp['mktcap'] = df_crsp.sort_values(by=['cusip','date'],ascending=False).groupby(['cusip'])['mktcap'].shift(-1)
df_crsp['ret'] = df_crsp.sort_values(by=['cusip','date'],ascending=False).groupby(['cusip'])['ret'].shift(-1)

df_crsp.dropna(subset=['prc', 'shrout', 'mktcap', 'ret'], inplace=True)
df_crsp.reset_index(drop=True, inplace=True)
df_crsp = df_crsp[df_crsp['ret']!='C']
df_crsp['ret'] = df_crsp['ret'].astype('float64')
df_crsp

,date,fyear,cusip,permno,prc,shrout,mktcap,ret
1,1986-03-31,1986,683916,10000,3.25000,3680.0,1.196000e+04,-0.257143
2,1986-04-30,1986,683916,10000,4.43750,3680.0,1.633000e+04,0.365385
3,1986-05-30,1986,683916,10000,4.00000,3793.0,1.517200e+04,-0.098592
4,1986-06-30,1986,683916,10000,3.10938,3793.0,1.179388e+04,-0.222656
5,1986-07-31,1986,683916,10000,3.09375,3793.0,1.173459e+04,-0.005025
...,...,...,...,...,...,...,...,...
3565662,2020-08-31,2020,88160R,93436,1430.76001,186362.0,2.666393e+08,0.325011
3565663,2020-09-30,2020,88160R,93436,498.32001,931809.0,4.643391e+08,0.741452
3565664,2020-10-30,2020,88160R,93436,429.01001,948000.0,4.067015e+08,-0.139087
3565665,2020-11-30,2020,88160R,93436,388.04001,947901.0,3.678235e+08,-0.095499
3565666,2020-12-31,2020,88160R,93436,567.59998,947901.0,5.380286e+08,0.462736

In [23]:
df_crsp.to_csv('data2/Cleaned_Crsp.csv', index=False)

In [24]:
from IPython.display import display_html
def restartkernel() :
    display_html("<script>Jupyter.notebook.kernel.restart()</script>",raw=True)